.lista-series-colunas-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  list-style: none;
  justify-content: center; /* Centraliza os elementos horizontalmente */
}

.lista-series-colunas-5 li {
  cursor: pointer;
}

.lista-series-colunas-5 li img {
  border-radius: 15px;
  max-width: 235px; /* Reduz a largura máxima da imagem */
  height: auto; /* Permite que a altura seja ajustada automaticamente para manter a proporção original da imagem */
  transition: transform 0.3s ease; /* Adiciona uma transição suave no efeito de transformação */
}

.lista-series-colunas-5 li img:hover {
  transform: scale(1.1); /* Aumenta a escala da imagem ao passar o mouse sobre ela */
}

.titulo-series {
  text-align: left;
  margin-top: 25px;
  margin-left: 35px;
}

.content-series {
  padding: 0;
  margin: 0 auto;
}
