.movie-poster {
  width: 100%;
  height: auto;
  border-radius: 15px;
  transition: opacity 0.3s ease-in-out;
}
.movie-carousel-container {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 30px;
}
  
.carousel-title {
    text-align: left;
    margin-bottom: 20px;
  }
  
.slide {
    display: flex;
    justify-content: center;
}

.movie-poster:hover {
  filter: brightness(45%);
}
